
<div class="container">

    <div class="row mx-auto mt-5">
      <div class="col-md-5 text-center">
        <%= attachment_image_tag @camp_item, :image, :fill, 350, 300, format: 'jpeg' %>
      </div>
      <div class="col-md-6 offset-md-1">
        <table class="table">
          <tbody>
            <tr>
              <td></td>
              <td><%= @camp_item.name %></td>
            </tr>
            <tr>
              <td></td>
              <td><%= @camp_item.introduction %></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

</div>

