  <div class="row mt-5">
    <div class="rank-inner">
      <div class="row">
        <div class="col-12">
          <h3 class="rank-title"><strong><i class="fas fa-campground"></i> 人気のキャンプ用品TOP3</strong></h3>
        </div>
        <% camp_item_ranks.first(3).each.with_index(1) do |camp_item, i| %>
          <div class="d-flex flex-wrap mt-4 ml-4">
            <div class="col-10 mt-4 ml-2">
              <H3>第<%= i %>位</H3>
            </div>
            <%= render 'shared/camp_items', camp_item: camp_item %>
          </div>
        <% end %>
      </div>
      <div class="col-md-11 offset-md-1 mt-4">
       <%= link_to "キャンプ用品一覧を見る>>", camp_items_path, class: "float-right link-color" %>
      </div>
    </div>
  </div>