<div class="container">
  <div class="row">
    <div class="rank-title-inner text-center">
        <h1 strong><i class="fas fa-crown"></i> ランキング <i class="fas fa-crown"></i></strong></h1>
    </div>
  </div>
  <%= render 'post_ranks', post_ranks: @post_ranks %>
  <%= render 'camp_place_ranks', camp_place_ranks: @camp_place_ranks %>
  <%= render 'camp_item_ranks', camp_item_ranks: @camp_item_ranks %>
</div>