<div class="container">

  <div class="row">
    <div class="col-md-6 offset-md-3">
      <h5 class="text-center"><h2 strong>ランキング</strong></h5>
    </div>
  </div>

  <%= render 'post_ranks', post_ranks: @post_ranks %>

  <%= render 'camp_place_ranks', camp_place_ranks: @camp_place_ranks %>

  <%= render 'camp_item_ranks', camp_item_ranks: @camp_item_ranks %>

</div>