<div class="container">
  <div class="row">
    <div class="all-content-inner">
      <div class="col-md-6 offset-md-1 mt-3">
        <h5 class="font-weight-bold text-center">キャンプ場投稿履歴</h5>
      </div>
      <div class="col-md-2 offset-md-2 mt-2">
        <%= link_to new_admins_camp_place_path do %>
          <i class="far fa-edit fa-3x post-btn"></i>
        <% end %>
      </div>
      <% @camp_places.each do |camp_place| %>
        <% camp_place.post_images.first(1).each  do |post_image| %>
        <div class="d-flex flex-wrap mt-5 ml-2">
          <div class="col-12">
            <%= link_to (attachment_image_tag post_image, :image, format: 'jpeg', size: "200x200", class: "rounded"), admins_camp_place_path(camp_place) %>
            <div class="col-12 mt-1">
              <%= camp_place.name %>
            </div>
          </div>
        </div>
        <% end %>
      <% end %>
      <div class="col-12 mt-4 offset-md-5">
        <%= paginate @camp_places, theme: 'twitter-bootstrap-4' %>
      </div>
    </div>
  </div>
</div>

