 <div class="container">
    <div class="row">
     <div class="col-12 mt-4">
       <div id="box">
        <div id="slider">
          <div class="image1"></div>
          <div class="image2"></div>
          <div class="image3"></div>
          <div class="image4"></div>
        </div>
       </div>
      </div>
    </div>
     <div class="row">
      <div class="col-12 d-flex justify-content-center mt-5">
        <h1 class="border-bottom border-danger pb-2"><strong>Beginner's Camp</strong> で出来ること</h1>
      </div>
     </div>
      <div class="row" >
        <div class="col-xs-12 col-sm-9 border-bottom" >
          <div class="col-md-12 d-flex mt-5 offset-md-1">
            <h2><i class="fab fa-firefox"></i> キャンプ場を探そう！</h2>
          </div>
          <div class="col-12 mt-2">
            <h5>　オススメのキャンプ場を紹介</h5>
          </div>
          <div class="col-12 mt-2">
            <h5>　初心者向けに様々なキャンプ場があるので</h5>
          </div>
          <div class="col-12 mt-2">
            <h5>　日帰り、手ぶら等行きやすい所を厳選して紹介！</h5>
          </div>
          <div class="col-12 mt-2 pb-4">
            <h5>　新規登録するとキャンプ場を予約や口コミを投稿することができます！</h5>
          </div>
        </div>
        <div class="col-xs-12 col-sm-2 mt-5">
          <%= image_tag asset_path("camp_image.5.jpg"), size: "250x200" %>
        </div>
     </div>

     <div class="row" >
        <div class="col-xs-8 col-sm-2 mt-5">
          <%= image_tag asset_path("camp_image.6.jpg"), size: "250x200" %>
        </div>
      <div class="col-xs-10 col-sm-9 border-bottom" >
        <div class="col-md-10 d-flex mt-5 offset-md-5">
          <h2><i class="fas fa-campground"></i> キャンプ用品をチェック！</h2>
        </div>
        <div class="col-10 mt-2 offset-md-5">
          <h5>　キャンプ用品一覧ではアイテムが盛りだくさん</h5>
        </div>
        <div class="col-10 mt-2 offset-md-5">
          <h5>　オススメ一覧やランキング形式でも紹介</h5>
        </div>
        <div class="col-10 mt-2 offset-md-5">
          <h5>　口コミを投稿したり、レビューも見ることもできます</h5>
        </div>
        <div class="col-10 mt-2 pb-4 offset-md-5">
          <h5>　あなただけのキャンプ用品を見つけよう！</h5>
        </div>
      </div>
    </div>
    <div class="row" >
      <div class="col-xs-12 col-sm-9 border-bottom" >
        <div class="col-md-12 d-flex mt-5 offset-md-1">
          <h2><i class="fas fa-check"></i> ユーザー同士で情報を共有</h2>
        </div>
        <div class="col-12 mt-2">
          <h5>　みんなのキャンプでキャンプ情報を投稿できます</h5>
        </div>
        <div class="col-12 mt-2">
          <h5>　タグ付けも追加でき、「#ゆるキャン」などで検索することも可能</h5>
        </div>
        <div class="col-12 mt-2">
          <h5>　さらに、ランキング機能もあり、いいね、口コミの人気順で紹介</h5>
        </div>
        <div class="col-12 mt-2 pb-4">
          <h5>　これから夏に向けて楽しみを増やしていこう！</h5>
        </div>
      </div>
        <div class="col-xs-12 col-sm-2 mt-5">
          <%= image_tag asset_path("camp_image.7.jpg"), size: "250x200" %>
        </div>
    </div>
  </div>