

<div class="container">

  <div class="row">
   <div class="col">
     <div id="box">
      <div id="slider">
        <div class="image1"></div>
        <div class="image2"></div>
        <div class="image3"></div>
        <div class="image4"></div>
     </div>
     </div>
    </div>
   </div>

   <div class="row">
    <div class="col-12 d-flex justify-content-center mt-5">
      <h1 class="border-bottom border-danger pb-2">キャンプで自然に触れ合おう</h1>
    </div>
   </div>

    <div class="row" >
      <div class="col-xs-12 col-sm-9 border-bottom" >
        <div class="col-md-12 d-flex mt-5 offset-md-1">
          <h2>キャンプ場を探そう！</h2>
        </div>
        <div class="col-12 mt-2">
          <h5>　ログインするとキャンプ一覧ページへ行けます</h5>
        </div>
        <div class="col-12 mt-2">
          <h5>　初心者向けに様々なキャンプ場があるので</h5>
        </div>
        <div class="col-12 mt-2">
          <h5>　日帰り、手ぶらあなたの気分に合わせて選ぶことができます</h5>
        </div>
        <div class="col-12 mt-2 pb-4">
          <h5>　ソロキャンプ、ファミリーでも気軽に参加してみよう！</h5>
        </div>
      </div>
      <div class="col-xs-12 col-sm-2 mt-5">
        <%= image_tag asset_path("camp_image.8.jpg") %>
      </div>
   </div>

   <div class="row" >
      <div class="col-xs-8 col-sm-2 mt-5">
        <%= image_tag asset_path("camp_image.9.jpg") %>
      </div>
    <div class="col-xs-10 col-sm-9 border-bottom" >
      <div class="col-md-12 d-flex mt-5 offset-md-4">
        <h2>キャンプ用品をチェック！</h2>
      </div>
      <div class="col-12 mt-2 offset-md-3">
        <h5>　キャンプ用品一覧から欲しいものを選ぼう</h5>
      </div>
      <div class="col-12 mt-2 offset-md-3">
        <h5>　キャンプ用品一覧では初心者が揃えておきたいアイテムを紹介</h5>
      </div>
      <div class="col-12 mt-2 offset-md-3">
        <h5>　チェックリストを参考にして準備</h5>
      </div>
      <div class="col-12 mt-2 pb-4 offset-md-3">
        <h5>　あなただけのキャプ用品を見つけよう</h5>
      </div>
    </div>
  </div>

  <div class="row" >
    <div class="col-xs-12 col-sm-9 border-bottom" >
      <div class="col-md-12 d-flex mt-5 offset-md-1">
        <h2>特集</h2>
      </div>
      <div class="col-12 mt-2">
        <h5>　ログインすると様々な特集を見ることができます</h5>
      </div>
      <div class="col-12 mt-2">
        <h5>　ソロキャン、キャンプ飯、キャンプの楽しみ方</h5>
      </div>
      <div class="col-12 mt-2">
        <h5>　色んな角度で初心者向けに伝えます！</h5>
      </div>
      <div class="col-12 mt-2 pb-4">
        <h5>　これから夏に向けてさらに楽しみを増やしましょう！！</h5>
      </div>
    </div>
      <div class="col-xs-12 col-sm-2 mt-5">
        <%= image_tag asset_path("camp_image.10.jpg") %>
      </div>
  </div>

</div>