<div class="container">
  <div class="row">
    <div class="all-content-inner">
      <div class="col-4 mt-2">
        <h3 class="all-camp-place">キャンプ場一覧</h3>
      </div>
      <div class="col-7 search-item text-center mt-2">
        <%= render 'public/camp_places/search' %>
      </div>
      <% @camp_places.each do |camp_place| %>
        <%= render 'shared/camp_places', camp_place: camp_place %>
   　  <% end %>
      <div class="col-7 mt-5 paginate">
        <%= paginate @camp_places, theme: 'twitter-bootstrap-4' %>
      </div>
    </div>
  </div>
</div>
