<div class="container">
  <div class="row">
    <div class="all-content-inner">
      <div class="col-12 mt-2">
        <h3>キャンプ場一覧</h3>
      </div>
      <% @camp_places.each do |camp_place| %>
        <% camp_place.post_images.first(1).each  do |post_image| %>
        <div class="d-flex flex-wrap mt-4">
          <div class="col-12 camp__image">
            <%= link_to camp_place_path(camp_place), class: "link-color" do %>
              <%= attachment_image_tag(post_image, :image, format: 'jpeg', size: "200x200", class: "rounded") %> <br />
             <% end %>
            <div class="col-12">
              <%= camp_place.name %>
            </div>
          </div>
         </div>
        <% end %>
   　  <% end %>
      <div class="col-12 mt-4 offset-md-5">
        <%= paginate @camp_places, theme: 'twitter-bootstrap-4' %>
      </div>
    </div>
  </div>
</div>
