<div class="container">
  <div class="row">
    <div class="all-user-inner">
      <div class="col-12 mx-auto">
        <h3>ユーザー一覧</h3>
        <table class="table">
          <thead>
            <tr>
              <th>会員ID</th>
              <th>ユーザー名</th>
              <th>メールアドレス</th>
            </tr>
          </thead>
          <tbody>
            <% @users.each do |user| %>
              <tr>
                <td><%= user.id %></td>
                <td><%= link_to user.name, admins_user_path(user) %></td>
                <td><%= user.email %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      <div class="col-12 mt-4 offset-md-5">
        <%= paginate @users, theme: 'twitter-bootstrap-4' %>
      </div>
    </div>
  </div>
</div>
