<div class="container">
  <div class="row">
    <div class="reservation-inner">
      <div class="col-12 offset-md-3">
        <h5><%= @user.name %>さんの予約履歴一覧</h5>
      </div>
      <%= render 'shared/reservations', reservation: @reservation %>
    </div>
  </div>
</div>