<div class="camp-place-inner">
  <div class="col-12">
    <h3><i class="fab fa-firefox"></i> キャンプ場一覧</h3>
  </div>
  <% camp_places.first(3).each do |camp_place| %>
    <%= render 'shared/camp_places', camp_place: camp_place %>
  <% end %>
  <div class="col-12 offset-md-7 mt-3">
   <%= link_to "全てのキャンプ場を見る>>", camp_places_path, class: "link-color" %>
  </div>
</div>

