<div class="camp-item-inner mt-5">
  <div class="col-12 mt-2">
    <h3><i class="fas fa-campground"></i> キャンプ用品一覧</h3>
  </div>
    <% camp_items.first(3).each do |camp_item| %>
      <%= render 'shared/camp_items', camp_item: camp_item %>
    <% end %>
  <div class="col-12 offset-md-7 mt-3">
    <%= link_to "全てのキャンプ用品を見る>>", camp_items_path, class: "link-color" %>
  </div>
</div>
