<div class="recent-post-inner">
  <div class="col-12 offset-md-1 mt-2">
    <h3><i class="fas fa-edit"></i> 最近の投稿</h3>
  </div>
  <% @posts.first(3).each do |post| %>
    <div class="col-12 offset-md-1 mt-4">
      <%= render 'shared/posts', post: post %>
    </div>
  <% end %>
  <div class="row offset-md-3 mt-4">
    <div class="col-md-12">
     <%= link_to "もっと見る>>", posts_path %>
    </div>
  </div>
</div>
