
<div class="container">

  <div class="bg-slider">
   <h1 class="bg-slider__title">BGSWITCHER DEMO PAGE</h1>
  </div>

  <script>
  jQuery(function($) {
      $('.bg-slider').bgSwitcher({
          images: ['img/camp_image.1.jpg','img/camp_image.2.jpg','img/camp_image.5.jpg'],
      });
  });
  </script>

  <div class="row mt-2">
    <div class="row col-md-6 offset-md-1 mt-5">
      <%= render 'camp_places', camp_places: @camp_places %>
      <%= render 'camp_items', camp_items: @camp_items %>
    </div>
    <div class="row col-md-3 offset-md-2 mt-5">
      <%= render 'recent_posts', posts: @posts %>
    </div>
  </div>


  <%= render 'tags', tags: @tags %>

</div>
