<div class="container">
 <div class="row">
    <div class="col-md-6 offset-md-1">
      <h5 class="font-weight-bold text-center">キャンプ用品投稿履歴</h5>
    </div>
    <div class="col-md-2 offset-md-3">
      <%= link_to new_admins_camp_item_path do %>
        <i class="far fa-edit fa-3x post_btn"></i>
      <% end %>
    </div>
 </div>
  <% @camp_items.each do |camp_item| %>
    <div class="row offset-md-1 mt-5">
      <div class="col-md-3 text-center mt-3">
        <%= link_to (attachment_image_tag camp_item, :image, format: 'jpeg', size: "200x200"), admins_camp_item_path(camp_item) %>
      </div>
      <div class="col-8 mt-3 font-weight-bold">
        <table class="table table-borderless offset-md-3">
          <tbody>
            <tr>
              <td><%= camp_item.name %></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
   <% end %>
  <div class="col-12 mt-4 offset-md-5">
    <%= paginate @camp_items, theme: 'twitter-bootstrap-4' %>
  </div>
</div>

