
<div class="container">

  <div class="text-center">
    <h1 class="mt-5 mb-4 font-weight-bold">Beginner's Campとは</h1>
  </div>

  <div class="row">
    <div class="col-12 mt-5 d-none d-md-block">
        <div class="row">
          <div class="col-12 text-center mt-3">
            <h4 class="text-danger font-weight-bold">キャンプしてみたい！</h4>
          </div>
          <div class="col-12 text-center mt-3">
            <h4 class="text-danger">しかし...何を持っていくかわからない...</h4>
          </div>
          <div class="col-12 text-center mt-3">
            <h4 class="text-danger">そもそもキャンプ用品はどんなの買えばいいの？</h4>
          </div>
          <div class="col-12 d-flex justify-content-center mt-3">
            <h3>などの悩みや疑問を解決できる</h3>
          </div>
          <div class="col-12 d-flex justify-content-center my-5">
            <h3><span class="font-weight-bold">≪初心者向けの≫<span>キャンプサイトです</h3>
          </div>
          <div class="col-12 d-flex justify-content-center my-4">
            <h1 class="border-bottom border-danger">『Beginner's Camp』で出来ること</h1>
          </div>
        </div>
    </div>

    <div class="row mt-5 offset-md-1">
      <div class="col-md-6">
          <h2 class="font-weight-bold ">キャンプ情報の提供</h2>
        </div>
      <div class="row">
        <div class="col-12">
          <h5>・初心者向けにオススメのキャンプ場、キャンプ用品を紹介！</h5>
          <h5>・気軽に日帰りや手ぶらでもキャンプできます</h5>
          <h5>・キャンプ飯や楽しみ方などキャンプの魅力をお届け</h5>
        </div>
      </div>
     </div>

     <div class="row mt-5 offset-md-1">
      <div class="col-md-4 text-center">
          <h2 class="font-weight-bold">ランキング</h2>
        </div>
        <div class="col-12 mt-2">
          <h5>・ユーザーが「いいね」したキャンプ場をランキングで表示！</h5>
          <h5>・ログインすると投稿にいいねやコメントすることができます</h5>
          <h5>・ユーザー同士でお互いの投稿を共有しよう！</h5>
        </div>
     </div>

     <div class="row mt-5 offset-md-1">
      <div class="col-md-5 text-center">
          <h2 class="font-weight-bold">キャンプを共有し合う</h2>
        </div>
        <div class="col-12 mt-2">
          <h5>・「みんなのキャンプ」をクリックすると投稿一覧が見れます！</h5>
          <h5>・ソロキャンもファミリーでのキャンプも気軽に投稿してみてね</h5>
          <h5>・色んなキャンプがあり色んな楽しみ方を発見しよう！</h5>
        </div>
     </div>

</div>

