<div class="container">
  <div class="row">
    <div class="tag-content-inner mt-5">
      <div class="col-lg-12 mt-2">
        <h3>タグの投稿一覧</h3>
      </div>
      <% @posts.first(3).each do |post| %>
        <div class="d-flex flex-wrap mt-4">
          <div class="col-12 ml-5">
            <%= render 'shared/posts', post: post %>
          </div>
        </div>
      <% end %>
      <div class="col-12 mt-4 offset-md-5">
        <%= paginate @posts, theme: 'twitter-bootstrap-4' %>
      </div>
    </div>
  </div>
</div>
