<div class="container">
  <div class="row">
    <div class="all-value-inner mt-5">
      <%= form_with model: [@camp_place, @camp_place_value], local:true do |f| %>
        <%= render 'shared/camp_place_value_forms', f: f %>
      <% end %>
    </div>
  </div>
</div>

