<div class="container">
  <div class="row">
    <div class="all-value-inner mt-5">
      <div class="col-md-12 offset-md-3">
        <h5 class="d-inline-flex bg-light"><%= @camp_place_value.user.name %>さんの口コミ</h5>
      </div>
      <div class="col-12">
        <table class="table table-borderless">
          <tbody>
            <tr>
              <td><P>タイトル</P><%= @camp_place_value.title %></td>
            </tr>
            <tr>
              <td><P>内容</P><%= @camp_place_value.review %></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-md-12 text-center mt-4">
        <% if current_user.id == @camp_place_value.user_id %>
          <%= link_to '削除する', camp_place_camp_place_value_path(@camp_place), method: :delete, data:{ confirm: '本当に削除しますか？' }, class: 'btn btn-sm  btn-danger' %>
        <% end %>
      </div>
    </div>
  </div>
</div>

