
<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-3">
      <h5 class="d-inline-flex bg-light my-4"><%= @camp_place_value.user.name %>さんの口コミ</h5>
    </div>
    <div class="row offset-md-2">
      <div class="col-md-9 mt-4">
        <h5>タイトル</h5>
      </div>
      <div class="col-md-9 ml-3">
        <h5>内容</h5>
      </div>
    </div>
    <div class="col-md-6 mt-3">
      <div class="col-9 mt-2">
         <%= @camp_place_value.title %>
      </div>
      <div class="col-9 mt-5">
       <%= @camp_place_value.review %>
      </div>
    </div>
  </div>
</div>

