
<div class="container">

    <div class="row mt-5">
          <div class="col-md-3 text-center">
            <%= attachment_image_tag @post, :image,  :fill, 200, 200, format: 'jpeg' %>
          </div>
      <div class="col-md-8 ml-5">
        <table class="table">
          <tbody>
            <tr>
              <td><p>タイトル</p></td>
              <td><%= @post.title %></td>
            </tr>
            <tr>
              <td><p>本文</p></td>
              <td><%= @post.review %></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="row">
     <div class="col-md-3 offset-md-4 mt-3">
        <% if user_signed_in? && current_user.id == @post.user_id %>
    　  　<%= link_to '削除する', post_path(@post.id), method: :delete, data:{ confirm: '本当に削除しますか？' }, class: 'btn btn-sm btn-danger' %>
    　　<% end %>
     </div>
   </div>

</div>