/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";
@import "font-awesome";
@import "tempusdominus-bootstrap-4";
@import 'font-awesome-sprockets';

*{
  font-family: 'メイリオ', sans-serif;
  color : #494848;
}

.navbar-dark .navbar-nav .nav-link{
  color: rgba(73, 72, 72, 1.0);
}

.navbar-dark .navbar-nav .nav-link:hover{
  color: rgba(73, 72, 72, 1.0);
}

header{
  width: 100%;
  height: 100px;
  background-color: #FFFFFF;
  opacity: 0.9;
}

main {
  margin-bottom: 150px;
}

footer{
  width: 100%;
  background-color: #ffb6bb;
  height: 100px;
  line-height: 50px;
}

#container{
  height: 300px;
  width: 100%;
}

.input-group {
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slider {
  width: 100%;
  height: 50vw;
  object-fit: cover;
}

.bg-slider {
    width: 100%;
    height: 100vh;
    background-position:center center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}
.bg-slider__title{
    color: #fff;
    font-size: 48px;
    line-height: 1.5;
    font-weight: bold;
    text-align: center;
    text-shadow: 1px 1px 1px #000;
}

.login-form {
  height: 40px;
  width: 100%;
}

#alert {
  text-align: center;
  color: red;
}

.required-form {
  color: red;
}

.user-image {
  border-radius: 200px;
}

.search-box {
  width: 200px;
  position: relative;
  border: 1px solid #aaa;
  border-radius: 150px;
  margin-right: 30px;
}

.search-left {
  width: 70%;
  height: 30px;
  line-height: 30px;
  background: none;
  border: none;
  outline: none;
  box-shadow: 0 0 0 1000px white inset;
}

.search-right {
  position: absolute;
  top: 1px;
  right: 1px;
  width: 30%;
}

.tag-box {
  border: 3px solid #000000;
  border-radius: 5px;
  padding: 10px;
}
