<div class="user-post">
  <div class="d-flex flex-wrap">
    <%= render 'shared/active_posts', posts: posts %>
  </div>
  <div class="col-12 mt-5 offset-md-4">
    <%= paginate posts, theme: 'twitter-bootstrap-4' %>
  </div>
</div>