<div class="container">
  <div class="row">
    <div class="all-user-inner">
      <div class="col-md-12 text-center mt-2">
        <h5 class="d-inline-flex font-weight-bold mb-4">ユーザー一覧</h5>
      </div>
      <%= render 'shared/users', users: @users %>
      <div class="col-12 mt-4 offset-md-5">
        <%= paginate @users, theme: 'twitter-bootstrap-4' %>
      </div>
    </div>
  </div>
</div>
