<div class="container">
  <div class="row">
    <div class="all-user-inner">
      <div class="col-md-12 text-center mt-2">
        <h5 class="d-inline-flex font-weight-bold mb-4">ユーザー一覧</h5>
      </div>
      <div class="row mt-5">
        <div class="col-md-10">
          <table class="table table-hover offset-md-1">
            <% @users.each do |user| %>
              <tbody>
                <tr>
                  <td>
                    <%= link_to  user_path(user) do %>
                      <%= attachment_image_tag(user, :profile_image, format: 'jpeg', fallback: "user_image.jpg", size:'50x50', class: "user-image") %>
                    <% end %>
                  </td>
                  <td><%= user.name %></td>
                  </tr>
              </tbody>
            <% end %>
          </table>
        </div>
      </div>
      <div class="col-12 mt-4 offset-md-5">
        <%= paginate @users, theme: 'twitter-bootstrap-4' %>
      </div>
    </div>
  </div>
</div>
