<div class="search-box">
  <%= form_tag(camp_places_path,:method => 'get') do %>
    <%= text_field_tag :search, '', placeholder:"検索ワード", class: 'search-left' %>
    <span class="search-right">
      <i class="fa fa-search search-btn", onclick="checkText()"></i>
    </span>
  <% end %>
</div>

<script>
function checkText() {
  $('form').submit();
}
</script>